/* Genel stil ayarları */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #350505;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 5px 0; /* Paddingi küçült */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 10px; /* Margini küçült */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px; /* Paddingi küçült */
    border-radius: 5px;
    font-size: 14px; /* Font boyutunu azalt */
}

nav ul li a:hover {
    background-color: #555;
}

.container {
    padding: 20px;
    flex: 1; /* Container'ı büyüyüp küçültecek */
}

.text-center {
    text-align: center;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-item {
    border: 1px solid #ddd;
    border-radius: 8px; /* Slightly rounded corners */
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: #fff;
}

.product-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product-item img {
    border-radius: 8px; /* Match border-radius of the product item */
    max-width: 100%;
    height: auto;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn-primary, .btn-secondary {
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    border: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.alert {
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

/* Utility classes */
.mt-2 {
    margin-top: 0.5rem;
}

/* Responsive tasarım */
@media (max-width: 992px) {
    .navbar-nav {
        margin-top: 0.5rem;
    }
}
